:root {
    --main-bg-color: #292828;
    --secondary-color:#00c1a4;
    --third-color:#ffffff;
  }

*{background-color: var(--main-bg-color);font-family: monospace;color: var(--third-color);}

::-webkit-scrollbar{
    display: none;
}

body{
    height: 100vh;
}

.bar{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.txtarea{
    width: 100%;
    height: 50vh;
    background-color: var(--main-bg-color);
    color: var(--third-color);
    font-size: 13px;
}

.txtx{padding: 20px}

.btns{
    display: flex;
    justify-content: space-around;
}

.btns button{margin-right: 10px}

#output{
    padding: 5px 20px;
    color: var(--secondary-color);
    width: 100%;
    border: 0.1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: .75rem;
    margin-top: 20px;
    overflow-y: scroll;
    height: 15vh;
}


#inp{
    background-color: var(--main-bg-color);
    color: var(--secondary-color);

}

#inp::placeholder{color:var(--secondary-color)}

.idxx{
    padding: 0px 20px;
    color:var(--secondary-color);
    font-size: 18px;
}

.int{ color: blueviolet; }

.outp{
    display: flex;
    align-content: flex-start;
}

.outp a{
    padding: 0 20px 0 0;
    color:var(--secondary-color);
    font-size: 13px;
}

.outp a:hover{
    color: var(--third-color);
    text-decoration: underline;
}

.out{
    overflow-y: scroll;
    margin: 0px 20px;
}

#files{
    margin: 5px 20px;
    color: var(--secondary-color);
    border: 0.1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: .75rem;
    margin-top: 20px;
    background-color: var(--main-bg-color);
}


#list{
    color: var(--secondary-color);
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
    border: 0;
}

#list p {transform: translateY(-35px);}


.rrc,.rrc:focus,.rrc:hover{
    border-color: var(--secondary-color);
}

.btnxy,.btnxy:hover{
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--third-color);
}
