*{background-color: #292828}

::-webkit-scrollbar{
    display: none;
}

body{
    height: 100vh;
}

.bar{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.txtarea{
    width: 100%;
    height: 50vh;
    background-color: #292828;
    color: white;
    font-size: 13px;
}

.txtx{padding: 20px}

.btns{
    display: flex;
    justify-content: space-around;
}

.btns button{margin-right: 10px}

#output{
    padding: 5px 20px;
    color: #00c1a4;
    width: 100%;
    border: 0.1px solid #00c1a4;
    border-radius: 5px;
    font-size: .75rem;
    margin-top: 20px;
    overflow-y: scroll;
    height: 15vh;
}


#inp{
    background-color: #292828;
    color: #00c1a4;

}

#inp::placeholder{color:#00c1a4}

.idxx{
    padding: 0px 20px;
    color:#00c1a4;
    font-size: 18px;
}

.int{ color: blueviolet; }

.outp{
    display: flex;
    align-content: flex-start;
}

.outp a{
    padding: 0 20px 0 0;
    color:#00c1a4;
    font-size: 13px;
}

.outp a:hover{
    color: white;
    text-decoration: underline;
}

.out{
    overflow-y: scroll;
    margin: 0px 20px;
}

#files{
    margin: 5px 20px;
    color: #00c1a4;
    border: 0.1px solid #00c1a4;
    border-radius: 5px;
    font-size: .75rem;
    margin-top: 20px;
    background-color: #292828;
}


#list{
    color: #00c1a4;
    background-color: #292828;
    padding: 0;
    margin: 0;
    border: 0;
}

#list p {transform: translateY(-35px);}


