:root {
  --main-bg-color: #292828;
  --secondary-color:#00c1a4;
}

body {
  font-family: monospace;
  background-color: var(--main-bg-color);
  color: white;
  width: 100%;
  height: 100vh;
  padding: 0px 10%;
}

::-webkit-scrollbar {
  display: none;
}

.texth1, .texth2{
  padding-bottom: 20px;
}

.texth1{
  font-size: 24px;
}

.texth1 a:hover{
  color: white;
}

.texth1 a{
  color:var(--secondary-color);
}

.texth2{
  font-size: 15px;
}

.xxf{
  position: relative;
  width: 100%;
  padding: 10% 0%;
  align-self: center;
}

.xxfbtn{
  position: relative;
  width: 20%;
  padding: 10px;
}

#history{
  position: relative;
  text-align: left;
  padding:10% 0%
}

#history h1{
  font-size: 18px;
  text-transform: uppercase;
}

#last{
  padding-top: 10px;
}

#last h6{
  font-size: 13px;
  color:var(--secondary-color);
  padding-top: 10px;
}

#last h6:hover{
  color: white;
  cursor: pointer;
}

.heart{
  color:var(--secondary-color);
  font-size: 20px;
}

.gtxt{
  color: var(--secondary-color);
}

.gtxt:hover{
  color: white;
}

#colors{
  position: relative;
  display: flex;
}

.colorxx{
  padding-right: 20px;
}