body {
  font-family: monospace;
  background-color: #292828;
  color: white;
  width: 100%;
  height: 100vh;
  padding: 0px 10%;
}

::-webkit-scrollbar {
  display: none;
}

.texth1, .texth2{
  padding-bottom: 20px;
}

.texth1{
  font-size: 24px;
}

.texth1 a:hover{
  color: white;
}

.texth1 a{
  color:#00c1a4;
}

.texth2{
  font-size: 15px;
}

.xxf{
  position: relative;
  width: 100%;
  height: 10vh;
  align-self: center;
  top: 10%;
}

.xxfbtn{
  position: absolute;
  width: 20%;
  padding: 10px;
}

#history{
  position: relative;
  top: 50%;
  text-align: left;
}

#history h1{
  font-size: 18px;
  text-transform: uppercase;
}

#last{
  padding-top: 10px;
}

#last h6{
  font-size: 13px;
  color:#00c1a4;
  padding-top: 10px;
}

.heart{
  color:#00c1a4;
  font-size: 20px;
}

.gtxt{
  color: #00c1a4;
}

.gtxt:hover{
  color: white;
}