:root {
  --main-bg-color: #292828;
  --secondary-color:#00c1a4;
  --third-color:#ffffff;
}

body {
  font-family: monospace;
  background-color: var(--main-bg-color);
  color: var(--third-color);
  width: 100%;
  height: 100vh;
  padding: 0px 10%;
}

::-webkit-scrollbar {
  display: none;
}

.texth1, .texth2{
  padding-bottom: 20px;
}

.texth1{
  font-size: 24px;
}

.texth1 a:hover{
  color: var(--third-color);
}

.texth1 a{
  color:var(--secondary-color);
}

.texth2{
  font-size: 15px;
}

.xxf{
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 5% 0;
  align-self: center;
}

.xxfbtn,.xxfbtn:hover,.xxfbtn:focus{
  position: relative;
  width: 20%;
  padding: 10px;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--third-color);
}

#history{
  position: relative;
  text-align: left;
  padding:5% 0%;
  height: 40%;
}

#history h1{
  font-size: 18px;
  text-transform: uppercase;
}

#last{
  padding-top: 10px;
}

#last h6{
  font-size: 13px;
  color:var(--secondary-color);
  padding-top: 10px;
}

#last h6:hover{
  color: var(--third-color);
  cursor: pointer;
}

.heart{
  color:var(--secondary-color);
  font-size: 20px;
}

.gtxt{
  color: var(--secondary-color);
}

.gtxt:hover{
  color: var(--third-color);
}

#colors{
  height: 10%;
  position: relative;
  display: flex;
  bottom: 0;
}
.colorxx{
  padding-right: 0px;
}
#primary,#secondary,#third{
  background-color: transparent;
  border-color: transparent;
  border-radius: 100%;
  border-radius: 20px;
  outline: none;
}

